*{
margin: 0;    
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url("img/cool.jpg");
    background-size: cover;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:linear-gradient(135deg, #5281a1, #d1d3d7);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    height: 40px;
    width: 300px;
    padding: 0 15px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
}
.search button{
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    margin-left: -40px;
    border-radius: 50%;
    cursor: pointer;
    background-color:cornsilk;
}
.search button img{
    width: 20px;
}
.icon{
    margin-left: 110px;
    width: 100px;
    margin-top: 30px;
}
.humidity-icon, .wind-icon{
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left:40px ;
}
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}
.weather{
    display: none;
}